@charset "UTF-8";

/* body
------------------------------------------------------------------------------- */

body {
  margin: 0 auto;
  background: #f8f8f8;
}

/* header
------------------------------------------------------------------------------- */

header {
  width: 100%;
  height: 64px;
  box-shadow: 2px 2px 4px lightgray;
  background-color: orange;
}


/* main
------------------------------------------------------------------------------- */

main {
  clear: right;
  width: 100%;
}

form {
  margin: 0 auto;
  border: 2px solid lightgray;
  width: 400px;
  border-radius: 10px;
  margin-top: 60px;
  margin-bottom: 40px;
  padding: 20px 20px 0px 20px;
  box-shadow: 4px 4px 4px lightgray;
}

.form_contents {
  margin: 30px 25px;
}

.error_text {
  background: pink;
  color: red;
  text-align: center;
}

label {
  font-size: 13px;
}

.mail,
.password,
.keep_login {
  text-align: left;
  margin: 25px;
}

.formbox {
  border: 1px solid #dfdfdf;
  padding: 5px;
  color: #999;
  background: #fff;
}


/* ボタン
---------------------------------------------------------------------------------------------- */
.login_button {
  text-align: center;
  margin-top: 20px;
}

.submit_button {
  border: 1px solid gray;
  padding: 6px 60px 4px 60px;
  color: white;
  background: orange;
  border-radius: 5px;
  border-bottom: 2px solid gray;
  width: 200px;
}

